/*
 * colours.css - colour palette
 * 
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 * 
 * */

.color-1 {
	background-color:	#F3C32D;
}

.color-2 {
	background-color:	#F1D294;
}

.color-3 {
	background-color:	#F58379;
}

.color-4 {
	background-color:	#D9536F;
}
