/*
 * tiles.css - main tile stylesheet
 * 
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 * 
 * */
 
/* General */
body,html {
	padding:	0;
	margin:		0;

	height:		100%;

	font-family:	'Nunito', 'Source Sans Pro', sans-serif;
}

.wrapper {
	height:		100%;
	width:		100%;
	display:	table;
}

/* Tiles */
.row {
	display:	table-row;
}

.tile {
	float:		none;
	display:	table-cell;
	vertical-align:	middle;

	opacity:	0.8;
}

.tile:hover,
.tile:active {
	opacity:	1;
}

.tile-title {
	display:	inline-block;
	width:		100%;

	margin:		auto auto;

	text-align:	center;
	color:		white;
	font-size:	25px;
}
