body, html {
	background-color:	#7E483C;
	color:			#FFFFFF;
}

.color-0 {
	background-color:	#7E483C;
	color:			#FFFFFF;
}

.color-1 {
	background-color:	#7F5156;
	color:			#FFFFFF;
}

.color-2 {
	background-color:	#A36A7A;
	color:			#FFFFFF;
}

.color-3 {
	background-color:	#FEB389;
	color:			#FFFFFF;
}

.color-4 {
	background-color:	#3F251B;
	color:			#FFFFFF;
}
